*{
    margin: 0px;
    top:0;
}

.display-news-section{
    display:flex;
    flex-direction:column;
    width:100vw;
    height:auto;
}

.news-section-display-parent{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom:3rem;
}

.hr-line{
    width:42.5rem;
    height:0rem;
    border-bottom:1px solid black;
    position: relative;
    left: 2rem;
}

.news-info-container-parent{
    height:auto;
    display:flex;
    justify-content:center;
    align-items:center;
}

.news-container{
    width:50%;
    display:flex;
    height:auto;
    margin-top:1rem;
}

.news-date{
    width:15%;
    border:1px solid #0d6efd;;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border-radius:1rem;
    color:#0d6efd;
}

.news-name{
    width:85%;
    display:flex;
    margin-left: .5rem;
    align-items:center;
}
 
.news-name a{
    text-decoration: none;
    color: rgb(54, 54, 54);
    font-size: 1.5rem;
}

.news-name a:hover{
    color:#0d6efd;
}

.indexing-section{
    display:flex;
    margin:1rem 0rem;
    height:2rem;
}

.prev-section{
    width: 10%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;

}

.middle-section{
    width:80%;
    display: flex;
    justify-content:center;
    align-items:center;
}

.next-section{
    width: 10%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
}


.add-news-btn{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 83px;
    left: 23rem;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    border-radius: 6rem;
}

.add-news-btn:hover{
    cursor: pointer;
    background-color:#0d6efd;
    color:white;
    transition:ease-in-out;
    transition-duration:.5s;
}

#news-form-overlay{
    position: fixed;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#form{
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-in{
    width:100% !important;
}

.close-news-btn{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom:.5rem;
}

.close-icon:hover{
    background-color: #0d6efd;
    color: white;
    cursor: pointer;
}

/* Footer css */

.footer-search {
    margin-left: 270px;
}

.footer-quick-links {
    padding-left: 400px;
}

.footer-wrap {
    padding-top: 43px;
    background-size: cover;
}

.footer-wrap h3 {
    color: black;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer-wrap p {
    font-size: 13px;
    line-height: 24px;
    color: black;
    margin-top: 15px;
}

.footer-wrap p a {
    color: black;
    text-decoration: underline;
    font-style: italic;
}

.footer-wrap p a:hover {
    text-decoration: none;
    color: #ff7800;
}

.footer-links li a {
    font-size: 13px;
    line-height: 30px;
    color: black;
    text-decoration: none;
}


.footer-links li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #ccc;
}

.footer-category li a {
    font-size: 13px;
    line-height: 30px;
    color: black;
    text-decoration: none;
}

.footer-category li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #b3b3b3;
}

.address {

    color: #b3b3b3;
    font-size: 14px;
    position: relative;
    padding-left: 30px;
    line-height: 30px;
}

.address:before {
    content: "\f277";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
}

.info a {

    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-phone:before {
    content: "\f095";
}

.info a {

    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-fax:before {
    content: "\f1ac";
}

.copyright {
    border-top: 1px solid #111;
    font-size: 14px;
    color: #ccc;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    background: #222;
}

footer .second_class {
    border-bottom: 1px solid #444;
    padding-bottom: 25px;
}

footer .first_class {
    padding-bottom: 21px;
    border-bottom: 1px solid #444;
}

footer .first_class p,
footer .first_class h3 {
    margin: 0 0;

}

footer {
    background: #c5cfea;
    height:auto;
}

footer .newsletter input[type="text"] {
    width: 100%;
    background: #fff;
    color: #333;
    border: 1px solid #222;
    padding: 14px 20px;
    border-radius: 50px;
    margin-top: 12px;
}

.newsletter .newsletter_submit_btn {
    background: #fff;
    position: absolute;
    right: 30px;
    border: 0;
    top: 26px;
    font-size: 17px;
    color: #333;
}


footer .second_class_bdr {
    padding-top: 25px;
    border-top: 1px solid #222;
}

footer .btn-facebook a {
    padding: 6px 14px !important;
}

footer .btn-envelop a {
    color: #D6403A;
    font-size: 15px;
    padding: 12px 12px;
}

footer .round-btn a {
    padding: 6px 12px;
}

footer .round-btn {
    box-shadow: 2px 2px 5px 0px #222 !important;
}

footer .round-btn {
    margin: 15px 4px;
}

footer dl,
ol,
ul {
    padding-left: 5px;
}

footer li {
    list-style: none;
}

.vision {
    font-size: 3.2rem;
    font-family: 'Times New Roman', Times, serif;
    width: 95%;
    padding-top: 10px;
    padding-left: 10px;
}

.vision12 {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    font-size: 18px;
    padding-left: 7px;
    padding-right: 10px;
    margin-top: 15px;
    text-align: justify;
}


@media(max-width:768px) {
    .footer-wrap h3 {
        margin-top: 27px;
    }

    footer .round-btn {
        margin: 15px 4px;
    }
}

@media(max-width:320px) {
    .copyright {
        font-size: 13px;
    }
}

.main-quicklink-container {
    display: flex;
    flex-direction: row;
}

.quicklink {
    width: 25%;
    text-align: justify;
    background-color: #dadada17;
}

.picture-edit {
    width: 20%;
    height: 100%;
}

.principal {
    width: 75%;
    height: 40%;

}


#pauri {
    font-size: 15px;
    padding-left: 50px;
}
